data/
LOGO_5_gram_2_layer_8_heads_256_dim_weights_32-0.885107.hdf5
Promotech/
01_Pre-training_Model/LOGO_5_gram_2_layer_8_heads_256_dim_weights_32-0.885107.hdf5
01_Pre-training_Model/model/
01_Pre-training_Model/*.txt
01_Pre-training_Model/*.log
02_promoter_prediction/*.npz
02_promoter_prediction/*.txt
